*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    position: relative;
    height: 250px;
    width: 700px;
    margin: 25px auto;
    padding: 25px 45px 45px;
    border: 2px solid black;
    background: #000000;
}
.keyboard{
    border: .4px solid black;
    height: 205px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.key{
    transition: all .4s;
}
.normal-key{
    border: .5px solid black;
    background-color: #ffffff;
    color: #ffffff;    
}
.semi-key{
    position: absolute;
    height: 150px;
    width: 32px;
    background-color: #000000;
    border-left: .4px solid gold;
    border-right: .4px solid gold;
    border-bottom: .4px solid gold;
}
.keyPressed{
    background-color: cadetblue;
}
#i{
    left: 80%;
}
#y{
    left:59%;
}
#t{
    left:48%;
}
#r{
    left:37%;
}
#w{
    left: 16%;
}
